{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form>
</h1>
{% endblock %}